
.admin-btn {
position: absolute;
top: 10px; /* Adjust these values to fit your layout */
right: 10px; /* Adjust these values to fit your layout */
/* background-color: rgb(255, 255, 255); */
color: black;
padding: 5px 10px;
border: gray 1px solid;
border-radius: 5px;
font-weight: bold;
text-decoration: none;
}

.admin-btn:hover {
background-color: rgb(243, 176, 176);
}