body {
    background-image: 
      url('./../images/bearcandle1.png'),
      url('./../images/bearcandle2.png'),
      url('./../images/bombcandle1.png'),
      url('./../images/bombcandle2.png'),
      url('./../images/heartcandle1.png'),
      url('./../images/heartcandle2.png'),
      url('./../images/bearcandle1.png'),
      url('./../images/bearcandle2.png'),
      url('./../images/heartcandle2.png');
    background-repeat: no-repeat; 
    background-size: 300px; 
  
    background-position:
      -80px 280px, /* bearcandle1.png */
      1200px 750px, /* bearcandle2.png */
      1160px 400px, /* bombcandle1.png */
      0 1030px, /* bombcandle2.png */
      600px 600px, /* heartcandle1.png */
      800px 1050px, /* heartcandle2.png */
      1630px 1080px, /* bearcandle1.png */
      300px 700px, /* bearcandle2.png */
      1630px 400px; /* heartcandle2.png */
}
@keyframes rotateImages {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.menu-items {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 20px;
margin-bottom: 80px;
}

.menu-item {
width: 300px;
background-color: white;
position: relative;
padding: 10px; 
border-radius: 10px;
margin: 40px;
display: flex;
flex-direction: column;
text-align: center;
}

.item-content {
/* position: relative; */
margin: 5px;
max-width: 300px; 
max-height: 500px; 
/* overflow: hidden; */
}

.item-content img {
width: 100%;
height: auto;
}

.item-checkbox {
position: absolute;
top: 10px;
right: 10px;
/* z-index: 1;  */
}


#edit-btn {
/* width: 20%; */
padding: 2px 5px; 
font-size: 10px; 
margin: 5px;
border: none;
border-radius: 5px;
background-color: rgb(223, 129, 129);
color: white;
/* margin-top: 10px; */
}

.update-box {
display: flex;
justify-content: flex-end;
margin-top: 20px;
}

.update-box button {
margin-left: 10px;
}

.center-maker {
display: flex;
justify-content: center; 
align-items: center; 
}

.center {
width: 80%;
display: flex;
flex-direction: column;
align-items: center;
}

.item-info {
display: none;
position: absolute;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
padding: 20px;
border-radius: 5px;
overflow: auto;
background-color: rgba(0, 0, 0, 0.9);
}

.item-content-clicked .show-info {
display: block;
color: white;
}

/* 미디어 쿼리 */
@media ( max-width: 950px ) {
    .menu-item {
        width: 250px;
        margin: 25px;
    }
    .menu-item h3 {
        font-size: 1.0em;
    }
    .menu-item p {
        font-size: 15px;
    }
}
@media ( max-width: 768px ) {
    body {
        background-color: #F1F1F1;
        background-image: 
        url('./../images/bearcandle1.png'),
        url('./../images/bearcandle2.png'),
        url('./../images/bombcandle1.png'),
        url('./../images/bombcandle2.png'),
        url('./../images/heartcandle1.png'),
        url('./../images/heartcandle2.png'),
        url('./../images/bearcandle1.png'),
        url('./../images/bearcandle2.png'),
        url('./../images/bombcandle1.png');

        background-repeat: no-repeat; 
        background-size: 200px;
        background-position:
      -50px 280px, /* bearcandle1.png */
      500px 1350px, /* bearcandle2.png */
      10px 600px, /* bombcandle1.png */
      450px 800px, /* bombcandle2.png */
      200px 400px, /* heartcandle1.png */
      -20px 1400px, /* heartcandle2.png */
      -50px 1000px, /* bearcandle1.png */
      250px 750px, /* bearcandle2.png */
      500px 330px; /* bombcandle1.png */
    }
    .menu-item {
        width: 200px;
        margin: 20px;
    }
    
}

