.menu-items {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 20px;
margin-bottom: 80px;
}

.menu-item {
width: 33%;
border: red 1px solid;
margin: 10px;
}

.update-box {
display: flex;
justify-content: flex-end;
margin-top: 20px;
}
.update-box button {
margin-left: 10px;
}